
body{
    background: var(--body-background);
}

/* Navbar styling starting */

/* desktop view */
.mobile-view{
    display:none;
}
.slide-in-menu{
    display:none;
}
.desktop-view {
    background: #fff;
    box-shadow: 5px 2px 40px rgba(0, 0, 0, 0.2);
}
.profile{
    width:75px;
}

.profile img {
    width: 50px;
    border: 1px solid #fff;
    border-radius: 66%;
    height: 50px;
}

.add-question{
    
}
.nav-search {
    height: 37px;
    margin-top: 5px;
    border: 1px solid var(--default-border-color);
    padding: 0px;
}

.nav-search .input-box span {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.nav-search .input-box input{
    border:none;
}
.nav-search .input-box input:focus{
    box-shadow:none;
}
.add-question {
    height: 40px;
    background-color: var(--default-btn-color);
    border:none;
}
.add-question:focus,.add-question:active{
    box-shadow: none;
    border: none;
}
.add-question:hover{
    background: var(--default-btn-hover);
}
.nav-item{
    display:flex;
    justify-content:center;
    flex-direction: column;
}
.desktop-view .nav-link i{
    color: black;
}
.desktop-view .nav-link i:hover{
    background:#fff;
}
.desktop-view .nav-link:focus, .desktop-view .nav-link:hover {
    
    border-bottom: 2px solid var(--default-btn-color);
}
.desktop-view .nav-link i:focus, .desktop-view .nav-link i:hover {
    background: var(--default-btn-color);
    color: #fff;
}

/* desktop view ends */

/* mobile view starts */
@media only screen and (max-width: 1195px){
    .mobile-view{
        cursor: pointer;
    }
    .mobile-view{
        display:block;
    }
    .slide-in-menu{
        display:block;
    }
    .slide-in-menu {
        width: 250px;
        height: 700px;
        position: relative;
        left: -250px;
        transition-property: left;
    }
    
    .slide-in-menu-duration{
        left: 0px;
        transition-duration: .5s;
    }
    .display-none{
        display:none;
    }
    .mobile-nav{
        color: #000;
        display:flex;
        flex-direction: row;
        justify-content: start;
    }
    #slide-menu{
        box-shadow: 5px 10px 18px #888888;
    }
    .desktop-view{
        display:none;
    }
}

/* mobile view ends */


/* suggested questions starts */
.suggested_ques{
    background: #fff;
    margin-top:10px;
    display:none;
}
.suggested_ques ul {
    list-style-type: none;
    padding: 0px;
}
.suggested_ques ul li {
    padding: 5px 15px;
    border-bottom: 1px solid var(--default-background);
    cursor: pointer;
    
}
.suggested_ques ul li:hover {
    background: var(--default-background);
}
/* suggested question ends */

/* navbar styling ends */

/* space part starts */
/* .space{padding: 15px; background: #fff;} */
.space li a img{width:20px;}
.space li a{text-decoration:none; }
.space li i,.space li span{font-size:14px; color:var(--default-font-color);}
ul.space li a.btn-primary{background: var(--default-background); border:none;}
ul.space li a.btn-primary:focus{box-shadow:none!important;}
/* space part ends */


/* ask or answer section starts */
.ask_answer {
    background: #fff;
    width: 100%;
    height: 130px;
    padding: 15px;
}
.ask_answer .row1 .profile_img {
    width: 50px;
    float: left;
}
.ask_answer .row1 .profile_img img {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.ask_input {
    width: 80%;
    float: left;
    margin: 7px 0 0 15px;
    border-radius: 30px;
    background: var(--default-background);
}

input.form-control.ask_input:focus {
    box-shadow: none;
    border: 1px solid var(--default-border-color);
}

.ask_answer .btn_group button {
    margin-top: 15px;
    width: 150px;
    margin-left: 15px;
    background: #fff;
    color: gray;
    border: none;
    position: relative;
}
.ask_answer .btn_group button:focus{
    box-shadow: none;
}
.ask_answer .btn_group button:not(:last-child):after {
    content: '';
    width: 1px;
    position: absolute;
    right: 0;
    top: 12px;
    background: var(--default-border-color);
    height: 17px;
}
/* ask or answer ends */


/* Post section starts */
.main-section .post-section{
    padding:15px;
    margin-top: 15px;
    background: #fff;
    height: 88%;
}
.main-section .post-section .row1 .profile_img img {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
}
.main-section .post-section .row1 .profile_img .inner_row1 {
    line-height: .5px;
    width: 80%;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}
.main-section .post-section .row1 .profile_img .inner_row1 .name{font-weight:bolder; position:relative; cursor:pointer;}
.main-section .post-section .row1 .profile_img .inner_row1 .name:after {
    position: absolute;
    width: 2px;
    content: '';
    right: -4px;
    top: 11px;
    background: #493e3e;
    height: 2px;
}
.main-section .post-section .row1 .profile_img .inner_row1 .follow{ color:var(--ocean-blue); cursor:pointer;}
.main-section .post-section .row1 .profile_img .inner_row1 .time{ color:var(--default-font-color);}
.main-section .post-section .row2 .post-img img{height:400px; width:100%;}
.main-section .post-section .row2 .post-para p{color:var(--default-font-color); text-align:justify; line-height:1.2;}
.main-section .post-section .row2 .up_down_btn {
    width: 180px;
    height: 35px;
    border: 1px solid var(--default-border-color);
    border-radius: 15px;
    float: left;
    margin-right: 15px;
    clear: both;
}
.main-section .post-section .row2 .up_down_btn .upvote-sec{
    border-right: 1px solid var(--default-border-color);
    cursor:pointer;
}
.main-section .post-section .row2 .up_down_btn .upvote-sec:hover {
    background: var(--default-background)!important;
    border: 1px solid var(--default-background)!important;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.main-section .post-section .row2 .up_down_btn .upvote-sec i:nth-child(1){margin-left:10px;} 
.main-section .post-section .row2 .up_down_btn .upvote-sec span{margin-right:10px; position:relative;}
.main-section .post-section .row2 .up_down_btn .upvote-sec span:nth-child(2):after {
    position: absolute;
    width: 2px;
    content: '';
    right: -7px;
    top: 11px;
    background: #9d6f6f;
    height: 2px;
}
.main-section .post-section .row2 .up_down_btn .down_vote{width:100%; cursor:pointer;}
.main-section .post-section .row2 .up_down_btn .down_vote:hover {
    background: var(--default-background);
    border: 1px solid var(--default-background);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.main-section .post-section .row2 .up_down_btn .down_vote .d-vote{margin-left:5px;}
.main-section .post-section .row2 .comnt_share {
    margin-left: 130px;
    margin-top: 5px;
    display: flex;

}
.main-section .post-section .row2 .comnt_share .comment,.main-section .post-section .row2 .comnt_share .share{cursor:pointer;}

/* Post section ends */