:root{
    --default-font-color: #ACA2A2;
    --default-border-color: #ACA2A2;
    --default-btn-color: #006064;
    --default-background: #ddd;
    --body-background: #80808029;
    --ocean-blue: #27DAC4;
}